apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mhillsma-cluster

resources:
  - ../../cluster-templates/aws-ha/base
  - cluster-config.yaml
  - cluster-start-cronjob.yaml

# Patches to customize the cluster
patches:
  # Update ClusterDeployment with specific values
  - target:
      kind: ClusterDeployment
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster
      - op: replace
        path: /metadata/namespace
        value: mhillsma-cluster
      - op: replace
        path: /spec/clusterName
        value: mhillsma-cluster
      - op: replace
        path: /spec/baseDomain
        value: openshiftpartnerlabs.com
      - op: replace
        path: /spec/platform/aws/region
        value: us-east-1
      - op: replace
        path: /spec/provisioning/imageSetRef/name
        value: img4.20.10-x86-64-appsub
      - op: replace
        path: /spec/provisioning/installConfigSecretRef/name
        value: mhillsma-cluster-install-config
      - op: replace
        path: /spec/provisioning/sshPrivateKeySecretRef/name
        value: mhillsma-cluster-ssh-key
      - op: remove
        path: /spec/provisioning/manifestsConfigMapRef

  # Update MachinePool with specific values
  - target:
      kind: MachinePool
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster-worker
      - op: replace
        path: /metadata/namespace
        value: mhillsma-cluster
      - op: replace
        path: /spec/clusterDeploymentRef/name
        value: mhillsma-cluster
      - op: replace
        path: /spec/platform/aws/type
        value: m5.2xlarge
      - op: replace
        path: /spec/replicas
        value: 0

  # Update ManagedCluster
  - target:
      kind: ManagedCluster
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster
      - op: replace
        path: /metadata/labels/environment
        value: development

  # Update KlusterletAddonConfig
  - target:
      kind: KlusterletAddonConfig
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster
      - op: replace
        path: /metadata/namespace
        value: mhillsma-cluster
      - op: replace
        path: /spec/clusterName
        value: mhillsma-cluster
      - op: replace
        path: /spec/clusterNamespace
        value: mhillsma-cluster

  # Update install-config Secret
  - target:
      kind: Secret
      name: cluster-placeholder-install-config
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster-install-config
      - op: replace
        path: /metadata/namespace
        value: mhillsma-cluster
      - op: replace
        path: /stringData/install-config.yaml
        value: |
          apiVersion: v1
          baseDomain: openshiftpartnerlabs.com
          metadata:
            name: mhillsma-cluster

          controlPlane:
            name: master
            platform:
              aws:
                type: m5.4xlarge
                rootVolume:
                  iops: 4000
                  size: 120
                  type: gp3
                zones:
                  - us-east-1a
            replicas: 1

          compute:
            - name: worker
              platform:
                aws:
                  type: m5.2xlarge
                  rootVolume:
                    iops: 2000
                    size: 100
                    type: gp3
                  zones:
                    - us-east-1a
              replicas: 0

          networking:
            clusterNetwork:
              - cidr: 10.128.0.0/14
                hostPrefix: 23
            machineNetwork:
              - cidr: 10.0.0.0/16
            serviceNetwork:
              - 172.30.0.0/16
            networkType: OVNKubernetes

          platform:
            aws:
              region: us-east-1

          fips: false
          publish: External

# Hive will automatically populate clusterMetadata fields after provisioning
