apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - clusterdeployment.yaml
  - machinepool-worker.yaml
  - managedcluster.yaml
  - install-config-secret.yaml
  - deprovision-finalizer-job.yaml

# Common labels applied to all resources
labels:
  - pairs:
      provisioner: hive
      managed-by: argocd
    includeSelectors: true

# Namespace for all resources (will be overridden by overlay)
namespace: cluster-placeholder